ENVIRONMENT=production
BACKEND_URL=https://login.example.com/api
RULES_URL=https://login.example.com/rules
AUTH_URL=https://login.example.com/oauth2/access_token
LOGOUT_URL=https://login.example.com/signout